.chat-window {
    /* float: right; */
    position:fixed;
    height: 50%;
    width: 25%;
    right: 20px;
    /* left: 20px; */
	bottom: 5px;
    /* background: rgb(245, 245, 245); */
    background: #f5fffa;
    border-radius: 25px 25px 0px 0px;
    z-index:100;
    /* border-style: solid; */

    box-shadow: 
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

.chat-window-closed {
    position:fixed;
    width: 25%;
    right: 20px;
    /* left: 20px; */
	bottom: 5px;
    background: rgb(245, 245, 245);
    border-radius: 25px 25px 0px 0px;
    z-index:100;
}

.chat-box-head {
    min-height: 10%;
    
    
    background-color: #e8c70e;
    /* background-color: black; */
    padding: 2.5% 1% 2.5% 5%;
    /* padding: 2.5%; */
    /* text-align: center; */
    /* font-weight: bold; */
    color: black;
    font-size: 1.25rem;
    border-radius: 25px 25px 0px 0px;
    
}

.close-button {
    float: right;
    background-color: #e8c70e;
    border: none;
    border-radius: 50px;
    color: black;
    font-size: 16px;
    cursor: pointer;
    margin-right: 5%;
    /* width: 13%; */
}


.message-list-div {
    min-height: 60%;
    

    top: 5%;
    right: 3%;
    left: 3%;
    height: 80%;
    /* position: absolute; */
    /* border-radius: 25px; */


    /* ScrollBar Starts */
    /* Originally from: https://stackoverflow.com/a/16671476/5554993 */

    /* overflow-y: scroll; */
    overflow-x: hidden;
    /* Increase/decrease this value for cross-browser compatibility */
    padding-right: 13px;
    padding-left: 13px;
    /* So the width will be 100% + 17px */
    box-sizing: content-box;

    /* ScrollBar Ends */



    /* Meant to break long words and spaces */

    /* overflow-wrap: break-word; */
    /* word-wrap: break-word; */
    /* word-break: break-all; */
    /* word-break: break-word; */
    /* hyphens: auto; */
}

.chat-input {
    min-height: 10%;


    /* margin-top: 80% !important; */
    height: 13%;
    position: absolute !important;
    bottom: 0px !important;
    left: 0px;
    right: 0px;
    
    /* pointer-events: none; */
}

.chat-input-text-area {
    border-radius: 0 !important;
    border: none !important;
    background: #f5fffa !important;

    width: 100%;
    resize: none;
    outline: none;
    padding: 5% 0px 0px 5%;

    

    -webkit-box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.3);
}

.send-button {
    background-color: #e8c70e;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    width: 25%;

    overflow-wrap: break-word;
}

.send-button:hover {
    background-color: #e6de00;

}

.send-button:focus, .close-button:focus {
    outline:0;
}





