.main-card {
    min-width: unset;
}

.video-content {
    height: unset;
    object-fit: contain;
}

.video-card {
    max-height: 250px;
    max-width: 250px;
}

@media screen and (max-width: 1050px)  {
    .main-card {
        height: 160px !important;
        width: 160px;
    }

}